<h3>Click on the blog to view and delete post.</h3>
<!-- footer section -->
<footer class="footer">
  <ul class="footer">
    <li class="footer__item">
      <a class="footer__link underline" id="nav__link" href="#section--1"
        >Features</a
      >
      <hr />
    </li>

    <li class="footer__item underline">
      <a class="footer__link" href="#section--2">Operations</a>
      <hr />
    </li>
    <li class="footer__item">
      <a class="footer__link underline" href="#section--3">Testimonials</a>
      <hr />
    </li>
    <li class="footer__item">
      <a class="footer__link underline" href="#">Open account</a>
      <hr />
    </li>
  </ul>
</footer>
<!-- section footer 2 -->
<footer class="footer2">
  <ul class="footer2">
    <li class="footer__item2">
      <a href="https://www.github.com/mathewCodex" class="icon-size">
        <img
          src="/gitIcon.png"
          alt="github-icon"
          style="color: white; width: 30px"
        />
      </a>
    </li>
    <li class="footer__item2">
      <a href="https://www.linkedin.com/mwlite" class="icon-size">
        <img
          src="/icons8-linkedin-circled.gif"
          alt="linkedIn-icon"
          style="color: white; width: 30px"
        />
      </a>
    </li>
    <li class="footer__item2">
      <a href="https://mathewemmanuel212@gmail.com" class="icon-size">
        <img
          src="/gmail.png"
          alt="gmail-icon"
          style="color: white; width: 30px"
        />
      </a>
    </li>
    <li class="footer__item2">
      <a class="icon-size" id="nav__link" href="#section--1"></a>
    </li>
    <p style="color: rgb(167, 160, 160)" class="p-tag">
      &copy;<span>2022</span>mathew emmanuel. all rights reserved
    </p>
  </ul>
  <div class="privacy">
    <p class="text-TC">Privacy | T & C</p>
  </div>
</footer>
<!-- footer section -->
