<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style1.css" />
  <!-- <link rel="stylesheet" href="/quary.css" /> -->
  <script src="http://kit.font-awesome.com/a076d05299.js"></script>
  <link rel="stylesheet" href="/css/all.css" />
  <title>Document || <%= title %></title>
  <script defer src="p.js"></script>
</head>
