<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">OOoooops,page not Found :( .</div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
